<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/pngfuel.com.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="/css/login.css">
    <title>Online Shopping</title>
</head>
<body>
<div style ="text-align:center">
  <a href ="/" style ="text-decoration: none;"><h2>Online&nbsp;&nbsp;
  <img src ="/images/pngfuel.com.png" class ="logo" width ="100"height ="100" style ="margin-top:5px">
  &nbsp;Shopping</h2></a>
</div>
  <div class="container">
    <div class="card"></div>
    <div class="card">
      <h1 class="title">Login</h1>
      <form action ="/Admin/admin/login" method ="POST">
        <div class="input-container">
          <input type="text" id="#{label}" name ="username"required="required"/>
          <label for="#{label}">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" id="#{label}" name ="password"required="required"/>
          <label for="#{label}">Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button type ="submit" name ="submit"><span>Login</span></button>
        </div>
        <div class="footer"><a href="#">Forgot your password?</a></div>
      </form>
    </div>
    <div class="card alt">
      <div class="toggle"></div>
      <h1 class="title">Register
        <div class="close"></div>
      </h1>
      <form action ="/Admin/admin/register" method ="POST">
        <div class="input-container">
          <input type="text" id="#{label}" name ="username"required="required"/>
          <label for="#{label}">Username</label>
          <div class="bar"></div>
        </div>
        <div class="input-container">
          <input type="password" id="#{label}"name ="password" required="required"/>
          <label for="#{label}">Password</label>
          <div class="bar"></div>
        </div>
        <div class="button-container">
          <button type ="submit" name ="submit"><span>Register</span></button>
        </div>
      </form>
    </div>
  </div>

  <script src= "/js/jquery.min.js"></script>
  <script>
      $('.toggle').on('click', function() {
  $('.container').stop().addClass('active');
});

$('.close').on('click', function() {
  $('.container').stop().removeClass('active');
});
      </script>
</body>
</html>