<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="shortcut icon" href="/images/pngfuel.com.png" type="image/x-icon">
    <link rel ="stylesheet" href ="/css/bootstrap.min.css">
    <link rel ="stylesheet" href ="/css/style.css">
    <link rel ="stylesheet" href ="/css/tab.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel ="stylesheet" href ="/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="/User/user"><img src ="/images/pngfuel.com.png" style ="width:60px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/User/user" style ="color:#fff">Home <span class="sr-only">(current)</span></a>
            </li>
              <li class="nav-item active">
                <a class="nav-link" href="/User/user/stuffenter" style ="color:#fff">Sell Product</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  style ="color:#fff"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b><i class ="fa fa-user"></i>&nbsp;&nbsp;<%=currentUser%></b></a>
              </a>
              <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">

                <a class="dropdown-item text-center" href="/User/user/profile" style ="text-emphasis: none;text-decoration: none;">
                  <img src ="/uploads/<%=currentprofile%>" style ="width:120px;height:120px;border-radius: 50%;"><br>
                  <b>View Profile</b>
                </a><br>
                <a class="dropdown-item" href="/User/user/logout"><button class="btn btn-danger" style ="border-radius:20px;"><i class ="fa fa-power-off"></i>&nbsp;LogOut</button> </a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

     