<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/pngfuel.com.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href ="/css/userlogin.css">
	<title>Online Shopping</title>
	<style>
		.success{
			border-radius:10px;
			text-align:center;
			padding:10px;
			font-size:25px;
			color:green;
			margin-bottom:20px;
		}
		.error{
			border-radius:10px;
			text-align:center;
			padding:10px;
			color:red;
			font-size:25px;
			margin-bottom:20px;
		}
	</style>
</head>
<body>
<div style ="text-align:center">
  <a href ="/" style ="text-decoration: none;"><h2>Online&nbsp;&nbsp;
  <img src ="/images/pngfuel.com.png" class ="logo" width ="100"height ="100" style ="margin-top:5px">
  &nbsp;Shopping</h2></a>
</div>
<%if(message.success){%>
	<div id ="msg" class ="success">
	<%=message.success%>
	</div>
	<%}%>
	<%if(message.error){%>
		<div id ="msg" class ="error">
		<%=message.error%>!!!!!
		</div>
		<%}%>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/User/user/register" method ="POST"enctype="multipart/form-data">
			<h1>Create Account</h1>
      		<input type="text" name ="username" placeholder="Username" />
			<input type="password" name ="password" placeholder="Password" minlength="10"pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title ="Must contain atleast 10 character conatianing digits,upper and lowercase"/>
			<input type="text" name ="first" placeholder="First"  pattern ="[A-Za-z]+" title ="Only Alphabets are allowed" />
			<input type="text" name ="last" placeholder="Last"   pattern ="[A-Za-z]+" title ="Only Alphabets are allowed"/>
			<input type="text" name ="email" placeholder="Email"pattern ="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title ="Input valid email Id" />
			<input type="text" name ="mobile" placeholder="Mobile"pattern="[789][0-9]{9}" title ="Enter valid  mobile number " />
			<input type="file" name ="avatar"/>
			<button type ="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/User/user/login" method ="POST">
			<h1>Sign in</h1>
			<input type="text" name ="username" placeholder="Username" />
			<input type="password" name ="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button type ="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script>
  const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
  </script>
  <script src ="/js/jquery.js"></script>
 <script>
    $('#msg').fadeOut(2000);
    </script>
</body>
</html>